body {
    margin: 0;
}

.wrapper {
    background-image: linear-gradient(blue -39%, black 39%);
    min-height: 100vh;
    padding: 24px;
    border: 10px solid #5a0303;
}

.sectionWrapper {
    height: 300px;
    width: 100px;
}